/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #686464;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

/* Set a style for all buttons */
button {
    background-color: #BA5E6F;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
}

button:hover {
    opacity: 0.8;
}

